<?xml version='1.0' encoding='utf-8'?>
<widget defaultlocale="en-US" id="com.tunnelwire.gram" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tunnelgram</name>
    <description>
        An easy, secure, end to end encrypted messenger.
    </description>
    <author email="hperrin@gmail.com" href="http://hperrin.com/">
        Hunter Perrin
    </author>
    <content src="index.html#/pwa-home" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="https://tunnelgram.com" />
    <access origin="https://pubsub.tunnelgram.com" />
    <access origin="wss://pubsub.tunnelgram.com" />
    <access origin="https://tunnelgram.blob.core.windows.net" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <splash src="www/splash/ios/Default@2x~universal~anyany.png" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Tunnelgram needs access to your camera to take photos to attach to messages.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Tunnelgram needs access to your microphone to record audio to attach to messages.</string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>Tunnelgram needs access to your photo library to get pictures to attach to messages.</string>
        </config-file>
    </platform>
    <hook src="hook-icon.js" type="after_platform_add" />
    <hook src="hook-splash.js" type="after_platform_add" />
    <hook src="hook-merge.js" type="after_platform_add" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="AppendUserAgent" value=" CordovaApp" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="FF031926" />
    <preference name="StatusBarBackgroundColor" value="#031926" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="onesignal-cordova-plugin" spec="~2.4.1" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.2" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.3.2" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="android" spec="^7.1.0" />
</widget>
