/app/node_modules
/app/vendor
/app/dist
/mail
/db_*
/tilmeld_secret.txt
/maintenance/entities-export-*.nex
/app/ServiceWorker.js*

/cordova/node_modules
/cordova/platforms
/cordova/plugins
/cordova/res
/cordova/www/dist
/cordova/www/images
