// Tunnelgram September
$primary:       #284D86;
$secondary:     #313E50;
$success:       #46A554;
$info:          #91B5AA;
$warning:       #CE9A5B;
$danger:        #BA4F52;
$light:         #F7F9F9;
$dark:          #031926;

// Original
// $secondary:     #383030;
// $light:         #F5F5F2;
// $dark:          #211526;

// Alternates
// $primary:       #8583AA;
// $warning:       #C69167;

$font-family-sans-serif: sans-serif;
$font-size-base: 1rem;

// Bootstrap
@import "~bootswatch/dist/cosmo/variables";
// @import "~bootstrap/scss/bootstrap"; // This one imports all of Bootstrap.
// Instead, import individual components.
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/close";
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";
@import "~bootswatch/dist/cosmo/bootswatch";

// Prevent pull to refresh
html, body, main {
  overscroll-behavior: none;
}

// Faded background colors
.bg-primary-light {
  background-color: lighten($primary, 60%);
}
.bg-info-light {
  background-color: lighten($info, 30%);
}
