// Prevent pull to refresh
html, body, main {
  overscroll-behavior: none;
}

$font-family-sans-serif: sans-serif;
$font-size-base: 1rem;

// Tunnelgram September
// html {
$primary:       #284D86;
$secondary:     #313E50;
$success:       #46A554;
$info:          #91B5AA;
$warning:       #CE9A5B;
$danger:        #BA4F52;
$light:         #F7F9F9;
$dark:          #031926;

// Bootstrap
@import "./bootstrap.scss";

// Faded background colors
.bg-primary-light {
  background-color: lighten($primary, 60%);
}
.bg-info-light {
  background-color: lighten($info, 30%);
}
// }

// Standard page width
.w-std-page {
  width: 100%;
  max-width: 600px;
}

// Cosmo
// html[theme=cosmo] {
//   $primary:       #2780E3;
//   $secondary:     #373a3c;
//   $success:       #3FB618;
//   $info:          #9954BB;
//   $warning:       #FF7518;
//   $danger:        #FF0039;
//   $light:         #f8f9fa;
//   $dark:          #373a3c;
//
//   // Bootstrap
//   @import "./bootstrap.scss";
//
//   // Faded background colors
//   .bg-primary-light {
//     background-color: lighten($primary, 40%);
//   }
//   .bg-info-light {
//     background-color: lighten($info, 40%);
//   }
// }
